doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title HDS DevCon Chat Client
    meta(name='viewport', content='initial-scale=1.0, width=device-width, \
      height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/normalize/3.0.1/normalize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')    
  body
    div.clearfix.header-banner
      h1.float-left HDS DevCon Chat Client
      a.float-right.user-name user:
    form
      input(id='msg', autocomplete='off', autofocus)
      button(type='submit') Send
    ul#messages
      - for(var i=0,ln=messages.length;i<ln;i++)
        if(messages[i].isPost)
          li(data-post-date=messages[i].when)
            .header.clearfix
              .who= messages[i].nickname
              .when= new Date(messages[i].when).toString().substr(0, 24)
            .msg= messages[i].msg
        else
          div(data-post-date=messages[i].when).notice= messages[i].msg
    script(src='//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/client.js')